<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>Day 31 Full Website</title>

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css ">
    <link rel="stylesheet" href={{(url_for('static', filename='css/style.css'))}}>
  </head>
  <body>

    <nav class="Arif navbar navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand" href="#"><span><img src="https://i.ibb.co/vhVnLHr/logo.png"></span> AppAMP Theme </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Demo
              </a>
              
              <ul class=" dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>

             </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
                <a class="btn btn-outline-primary btn-lg" href="#">Buy Now</a>
   
   
   
   

        </div>
      </div>
    </nav>
    <section class="slider-section text-center py-5 ">
        <div class="container">
          <div class="slider-caption w-75 mx-auto">
                           
              <div class="row">
                  <div class="col text-white">
                      <p class="lead mb-3 mt-3"> It is created to watch your health </p>
                      <h1 class="mb-4 display-3  font-weight-bold"> Health Tracker App </h1>
                  </div>
              </div>
              <form action="#" class="py-5">
                <div class="row">
                  <div class="col-lg-7">
                    <input type="email" class="form-control" placeholder="Type your E-mail Address">
                  </div>
                  <div class="col-lg-5 ">
                    <a class="btn btn-success btn-lg btn-block" type="submit" href="#"> Get App</a>
                  </div>
                </div>
              </form>
          </div>
        </div>
    </section>
    <section class="number-section py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 float-left">
                    <h1 class="mb-2 display-2 "> 100+ </h1>
                    <p class="text-muted">Health programs  </p>
                </div>
                
                <div class="col-lg-3 float-left">
                    <h1 class="mb-2 display-2 "> 150+ </h1>
                    <p class="text-muted">Health programs  </p>
                </div>
                
                <div class="col-lg-3 float-left">
                    <h1 class="mb-2 display-2 "> 200+ </h1>
                    <p class="text-muted">Health programs  </p>
                </div>
                
                <div class="col-lg-3 float-left">
                    <h1 class="mb-2 display-2"> 300+ </h1>
                    <p class="text-muted">Health programs  </p>
                </div>
            </div>
        </div>
    </section>

    <section class="information-section py-5 bg-min">
      <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="content">
            <h1 class="mb-3">Activity Goals To Improve Health  </h1>
            <p class="lead">Being active is important to our health, but how much or what kind of activity do you need? Health Tracker App worked with the World Health Organisation to develop two activity goals based on WHO's physical activity recommendations shown to impact health - Move Minutes and Heart Points  </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="img-section ">
            <img class="img-thumbnail" src="https://i.ibb.co/yWnvztH/015.jpg" alt="">
          </div>
        </div>
      </div>
      
    </div>
    </section>
    <section class="feature-section bg-min py-5">
      <div class="container">
        <div class="row mt-3">

        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/QcRXVDf/022.jpg">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
              
        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/QKBPwqH/mbr-7.png">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous 
              health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
         
        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/6vVMWy1/mbr-10.jpg">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous 
              health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
         
        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/cy4XNpX/mbr-5.jpg">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous 
              health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
         
        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/zFstDkc/mbr-12.png">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous 
              health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
         
        <div class="col-lg-4 mb-3">
          <div class="feature-caption d-flex ">
            <div class="f-img">
            <img src="https://i.ibb.co/37jVH8t/mbr-13.jpg">
          </div>
          <div class="f-content">
            <h1> HEART POINTS </h1>
            <p class="text-muted"> Activities that get your heart pumping harder have tremendous 
              health benefits for your heart and mind.</p>
          </div>
          </div>
         </div>
        </div>
      </div>
    </section>

    <section class="portfolio-section bg-min py-5">
      <div class="container">
        <div class="row mt-5">
          <div class="col text-center mb-4">
            <h1>Look at our application</h1>
          </div>
        </div>
        <div class="row mt-3">

          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">

             <a href="#"> <img src="https://i.ibb.co/rFZQjFM/022.jpg"alt=""> </a>
            </div>
          </div>
          
          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">
              <a href="#"><img src="https://i.ibb.co/ZXxTDDw/033.jpg"alt=""> </a>
              
            </div>
          </div>
          
          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">
              <a href="#">  <img src="https://i.ibb.co/54XYJmm/04.jpg"alt=""></a>
             
              </div>
          </div>
          
          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">
              <a href="#"><img src="https://i.ibb.co/N2gpq9h/05.jpg"alt=""></a>
             
            </div>
          </div>
          
          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">
              <a href="#"><img src="https://i.ibb.co/YPk8mDJ/background18.jpg"> </a>
              
            </div>
          </div>
          
          <div class="col-lg-4 mb-3">
            <div class="portfolio-items">
              <a href="#"><img src="https://i.ibb.co/y8mPm6s/mbr-13.jpg"alt=""> </a>
            
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="pricing-section bg-min py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 class="mb-3"> Start using our app today  </h1>
            <p class="lead mb-4" >Being active is important to our health, but how much or what kind of activity do you need?</p>
          </div>
        </div>

          <div class="row py-5">

            <div class="col-lg-6">
              <div class="pricing-items">
                <h1 class="ml-5 pt-5">Starter Plan  </h1>
                <p class="lead ml-5">For simple users  </p>
                <ul>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                </ul>
                    <div class="btn-new text-center">
                      <a class="btn btn-outline-success font-weight-bold btn-lg mb-4" href="#"> Get Access Now</a>
                    </div>
              </div>
            </div>

            
            <div class="col-lg-6">
              <div class="pricing-items">
                <h1 class="ml-5 pt-5">Starter Plan  </h1>
                <p class="lead ml-5">For simple users  </p>
                <ul>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-check"></i></span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                  <li><span><i class="fas fa-times"></i> </span>  HEART POINTS</li>
                </ul>
                <div class="btn-new text-center">
                  <a class="btn btn-outline-success font-weight-bold btn-lg mb-4" href="#"> Get Access Now</a>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>

    <section class="my-section py-5 bg-min ">
      <div class="container">
        <div class="row w-50 mx-auto">
          <div class="col text-center ">
            <h6 class="lead mb-3"> Feedback from our users </h6>
            <h1 class="mb-3"> What do users say about our application  </h1>
            <span><i class="fas fa-quote-left"></i></span>
            <p class="lead mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="team-boss">
              <div class="my-img float-left ">
                <img class="rounded-circle" src="https://i.ibb.co/hV01YnS/Dslr.jpg">
              </div>
              <div class="my-details">
                <h1>Ariful Hoq</h1>
                <p class="lead">User</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="team-section py-5">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-6">
           <div class="team-caption">
            <h1 class="mb-4">Our Team and History </h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis cupiditate voluptatem tempora a odio, ad, officiis ex harum saepe fuga at modi quibusdam voluptas voluptatum! </p>
           </div>
          </div>

                            
<div class="col-lg-6">
  <div class="team-caption">
   <p class="mizan lead pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis 
 perspiciatis vero accusantium excepturi aperiam eius sit quis nobis cupiditate 
 voluptatem tempora a odio, ad, officiis ex harum saepe fuga at modi quibusdam voluptas
 voluptatum! </p>
  </div>
 </div>
                
        </div>
        <div class="row py-5">

          <div class="col-lg-3">
            <div class="team-member">
              <div class="card">
                <div class="card-body text-center">
                  <img class="rounded-circle" src="https://i.ibb.co/hV01YnS/Dslr.jpg " alt="">
                  <h1 class="card-tittle"> Ariful Hoq</h1>
                  <h5 class="card-subtittle mb-4">Programmer </h5>
                  <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  <a class="btn btn-light shadow" href="#">Website</a>
                </div>

              </div>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="team-member">
              <div class="card">
                <div class="card-body text-center">
                  <img class="rounded-circle" src="https://i.ibb.co/YDB66xx/face2.jpg" alt="">
                  <h1 class="card-tittle">Jason Doe </h1>
                  <h5 class="card-subtittle mb-4">Programmer </h5>
                  <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  <a class="btn btn-light shadow" href="#">Website</a>
                </div>

              </div>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="team-member">
              <div class="card">
                <div class="card-body text-center">
                  <img class="rounded-circle" src="https://i.ibb.co/vjCzd0j/face3.jpg " alt="">
                  <h1 class="Andrew card-tittle"> Andrew Smith</h1>
                  <h5 class="card-subtittle mb-4">Programmer </h5>
                  <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  <a class="btn btn-light shadow" href="#">Website</a>
                </div>

              </div>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="team-member">
              <div class="card">
                <div class="card-body text-center">
                  <img class="rounded-circle" src="https://i.ibb.co/cYTfct8/face4.jpg" alt="">
                  <h1 class="card-tittle">Amalisa</h1>
                  <h5 class="card-subtittle mb-4">Programmer </h5>
                  <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  <a class="btn btn-light shadow" href="#">Website</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-section bg-min py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p class="lead">We need to know your opinion  </p>
            <h1> Write to us and we will contact you  </h1>
          </div>
        </div>
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="content-div">
                  <div class="card mb-3 text-center border-0">
                    <div class="card-body">
                      <h4>Send us a Message </h4>
                      <form action="#">
                        <input type="email" class="muntaha form-control form-control-lg mb-3" placeholder="Type your E-mail Address">
                        <div class="row mb-3">

                          <div class="col-lg-6 ">
                            <input type="text" class="nazifa form-control form-control-lg font-weight-bold" placeholder="Name">
                          </div>
                                                    
                          <div class="col-lg-6 ">
                             <input type="text" class=" nazifa form-control form-control-lg font-weight-bold" placeholder=" Phone">
                          </div>
                            
                        </div>
                        <textarea class="nabila form-control form-control-lg mb-3 font-weight-bold " placeholder="Type your Message"></textarea>
                        <a class="nabiha btn btn-lg btn-info btn-block" href="#">Contact Us</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3"></div>
            </div>

      </div>
    </section>
    <section class="iphone-section bg-min py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p class="text-muted mb-5 mt-5">It is created to watch your health</p>
            <h1 class="mb-5"> Get our app for Android and iPhone</h1>
            <div class="row text-center">

              <div class="col-lg-6">
                <a class="mera btn btn-lg btn-outline-success btn-block" href="#"> </span><i class="fab fa-apple"></i> </span> App store</a>
              </div>
              
              <div class="col-lg-6">
                <a class="kamrul btn btn-lg btn-success btn-block" href="#"> </span><i class="fab fa-android " > </i> </span> Google Play</a>
              </div>
            </div>
            <div class="row">
              <div class="col">
             <div class="i-img">
              <img src="https://i.ibb.co/kBv6xT9/b71691b367a916f7bacbee78a42ade45.png">
             </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="footer text-center text-muted mb-4">
          <span>&copy; All rights reserved by Mohammad Ariful Hoq </span>
        </div
    
    
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>